@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));
@custom-variant hover (&:hover);
@font-face {
  font-family: "Alkatra";
  font-display: swap;
  src: url("/Alkatra.ttf") format("truetype");
}
@font-face {
  font-family: "Fustat";
  src: url("/Fustat-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "Fustat";
  src: url("/Fustat-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: bold;
}
html {
  scrollbar-width: none;
}
:root {
  --primary-color: #03b7f9;
  --secondary-color: #004991;
  --body-color: #e8eef4;
  --text-color: #1f242d;
  --services-color: #0cbc8b;
}
.dark {
  --body-color: #1f242d;
  --text-color: white;
}
@theme inline {
  --color-primary: var(--primary-color);
  --color-secondaryColor: var(--secondary-color);
  --color-bodyColor: var(--body-color);
  --color-textColor: var(--text-color);
  --color-servicesColor: var(--services-color);
}
* {
  font-family: Alkatra, Trebuchet MS, Fustat, sans-serif;
}
@utility container {
  margin-inline: auto;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}
@layer base {
  .title {
    @apply text-xl mb-3;
  }
  ::-moz-selection {
    @apply bg-primary text-white;
  }
  ::selection {
    @apply bg-primary text-white;
  }
}
.ar::after {
  top: 50% !important;
}
.showMenu {
  display: grid;
  -webkit-animation: menu 0.3s 0s ease-in-out 1;
  animation: menu 0.3s 0s ease-in-out 1;
}
@-webkit-keyframes menu {
  0% {
    top: 100%;
  }
  100% {
    top: 115%;
  }
}
@keyframes menu {
  0% {
    top: 100%;
  }
  100% {
    top: 115%;
  }
}
button {
  cursor: pointer;
}
.menu-icon {
  width: 3rem;
  height: 100px;
  & svg {
    width: 100%;
    height: 100%;
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
    & .line {
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 3;
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
      @apply stroke-primary;
    }
  }
}
.line-top-bottom {
  stroke-dasharray: 12 63;
}
.close svg {
  transform: rotate(-45deg);
  & .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
}
#projects.open .projectsContainer {
  height: 100%;
}
#projects.open .moreProjectsButton {
  display: none;
}
#projects.open .hideProjectsButton {
  display: block;
}
nav.hide {
  top: 1%;
  width: 99%;
  border-radius: 10px;
  border-width: 1px;
}
.language.hide {
  transform: translateX(calc(-100% - 0.5rem));
}
.theme.hide {
  transform: translateX(calc(+100% + 0.5rem));
}
.title-line-icon path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  -webkit-animation: strokeAnimation 1.3s 0.5s cubic-bezier(0.65, 0, 0.35, 1)
    forwards;
  animation: strokeAnimation 1.3s 0.5s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}
@-webkit-keyframes strokeAnimation {
  0% {
    stroke-dashoffset: 1;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes strokeAnimation {
  0% {
    stroke-dashoffset: 1;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
#about-me-title {
  -webkit-animation: about-me-title 1s 0s ease-in-out 1;
  animation: about-me-title 1s 0s ease-in-out 1;
  margin-top: 0%;
}
@-webkit-keyframes about-me-title {
  0% {
    margin-top: 100%;
  }
  100% {
    margin-top: 0%;
  }
}
@keyframes about-me-title {
  0% {
    margin-top: 100%;
  }
  100% {
    margin-top: 0%;
  }
}
.social-media a:hover p {
  @apply bg-secondaryColor text-white;
}
.skill:hover .skill-image {
  @apply scale-[1.2];
}
.description-container:hover .description {
  @apply opacity-100;
}
