@import "tailwindcss";
@custom-variant dark (&:is(.dark *));
html {
  scrollbar-width: none;
}
:root {
  --primary-color: #03b7f9;
  --secondary-color: #004991;
  --body-color: #e8eef4;
  --text-color: #1f242d;
}
.dark {
  transition: all 1s;
  --primary-color: #03b7f9;
  --secondary-color: #004991;
  --body-color: #1f242d;
  --text-color: white;
}
@theme {
  /* --color-primary: var(--primary-color);
  --color-secondaryColor: var(--secondary-color);
  --color-bodyColor: var(--body-color);
  --color-textColor: var(--text-color); */
  --font-Alkatra: Alkatra, Trebuchet MS;
}
@utility container {
  margin-inline: auto;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}
@layer base {
  @font-face {
    font-family: "Alkatra";
    font-display: swap;
    src: url("/Alkatra.ttf") format("truetype");
  }
  @font-face {
    font-family: "Fustat";
    src: url("/Fustat-Regular.ttf") format("truetype");
    font-display: swap;
    font-weight: normal;
  }
  @font-face {
    font-family: "Fustat";
    src: url("/Fustat-Bold.ttf") format("truetype");
    font-display: swap;
    font-weight: bold;
  }
  [dir="rtl"],
  [dir="rtl"] form,
  [dir="rtl"] form input::placeholder {
    font-family: "Fustat";
  }
  [dir="ltr"] {
    font-family: "Alkatra";
  }
  .title {
    @apply text-xl mb-3;
  }
  ::selection {
    background-color: var(--primary-color);
    color: white;
  }
}
.ar::after {
  top: 50% !important;
}
.showMenu {
  display: grid;
  animation: menu 0.3s 0s ease-in-out 1;
}
@-webkit-keyframes menu {
  0% {
    top: 100%;
  }
  100% {
    top: 115%;
  }
}
@keyframes menu {
  0% {
    top: 100%;
  }
  100% {
    top: 115%;
  }
}
button {
  cursor: pointer;
}
.menu-icon {
  width: 3rem;
  height: 100px;
  & svg {
    width: 100%;
    height: 100%;
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
    & .line {
      fill: none;
      stroke: var(--primary-color);
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 3;
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
.line-top-bottom {
  stroke-dasharray: 12 63;
}
.close svg {
  transform: rotate(-45deg);
  & .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
}
#projects.open .projectsContainer {
  height: 100%;
}
#projects.open .moreProjectsButton {
  display: none;
}
#projects.open .hideProjectsButton {
  display: block;
}
nav.hide {
  top: 1%;
  width: 99%;
  border-radius: 10px;
  border-width: 1px;
}
.language.hide {
  transform: translateX(calc(-100% - 0.5rem));
}
.theme.hide {
  transform: translateX(calc(+100% + 0.5rem));
}
.menu button {
  @apply capitalize transition-colors;
  &:hover {
    color: var(--primary-color);
  }
  &:is(.dark *):hover {
    color: var(--text-color);
  }
}
.title-line-icon path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: strokeAnimation 1.3s 0.5s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}
@keyframes strokeAnimation {
  0% {
    stroke-dashoffset: 1;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.social-media-link:hover p {
  background-color: var(--secondary-color);
  color: var(--color-white);
}
.skill:hover .skill-image {
  scale: 1.2;
}
.description-container:hover .description {
  opacity: 1;
}
